upstream spring_backend {
    server ${SPRING_BACKEND_HOST};
    keepalive 32;
}

upstream nextjs_frontend {
    server ${NEXTJS_FRONTEND_HOST};
    keepalive 16;
}

upstream keycloak {
    server ${KEYCLOAK_HOST};
    keepalive 16;
}
